<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Gender, Sexuality and Women's Studies program.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
    
 <strong>Africology and African American Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nehusi-kimani">Kimani Nehusi</a></li>
   <ul>
 <strong>Anthropology</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/jhala-jayasinhji">Jayasinhji Jhala</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mikhaylova-marina">Marina	Mikhaylova</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/milestone-juris">Juris	Milestone</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roy-christopher">Christopher Roy</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a></li>
   <ul>
 <strong>Asian and Middle Eastern Languages and Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan">Shuchen Huang</a></a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis">Louis Mangione</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thornbury-barbara">Barbara Thornbury</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/witty-gordon">Gordon Witty</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a></li>
   <ul>
 <strong>Criminal Jusitce</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul	Rege</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tripp-tara">Tara Tripp</a></li>
   <ul>
 <strong>Economics</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/das-shreyasee">Shreyasee Das</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kushnirsky-fyodor">Fyodor	Kushnirsky</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz	Ritter</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fardmanesh-mohsen">Mohsen	Fardmanesh</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hakim-simon">Simon Hakim</a></li>
   <ul>
 <strong>English</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa	Harris</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya">Priya Joshi</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/robison-paula">Paula Robinson</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wiley-catherine">Catherine Wiley</a></li>
   <ul>
 <strong>First Year Writing Program</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
   <ul>
 <strong>French, German, Italian and Slavic</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
   <ul>
 <strong>Gender, Sexuality and Women’s Studies</strong> 
 
 
 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/garrett-paul-b">Paul B Garrett</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a><p><strong>Anthropology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a><p><strong>Anthropology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a><p><strong>Asian and Middle Eastern Languages and Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Hersch</a><p><strong>Greek and Roman Classics</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie">Jamie J Fader</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth">Elizabeth Groff</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy">Cathryn-Jo Rosen</a><p><strong>Criminal Justice</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa Harris</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine">Kate Henry</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce">Joyce A Joyce</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole">Nichole E Miller </a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james">James Salazar</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian">Brian Teare</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/walters-shannon">Shannon Walters</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wettach-gabriel">Gabriel Wettach</a><p><strong>English</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gilbert-melissa-r">Melissa R Gilbert</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a><p><strong>Geography and Urban Studies</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/iris-lowe-hilary">Hilary Iris Lowe</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a><p><strong>History</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Hayes-Alvarez</a><p><strong>Intellectual Heritage</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gjesdal-kristin">Kristin Gjesdal</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/solomon-miriam">Miriam Solomon</a><p><strong>Philosophy</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chae-lee-ann">Lee-Ann Chae</a><p><strong>Philosophy</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mucciaroni-gary">Gary Mucciaroni</a><p><strong>Political Science</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newcombe-nora">Nora Newcombe</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/weinraub-marsha">Marsha Weinraub</a><p><strong>Psychology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/alpert-rebecca">Rebecca T Alpert</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/junior-nyasha">Nyasha Junior</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levitt-laura">Laura S Levitt</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D White</a><p><strong>Religion</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/czerniawski-amanda">Amanda Czerniawski</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goyette-kimberly">Kimberly Ann Goyette</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kidd-dustin">Dustin Kidd</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levine-judith">Judith Levine</a><p><strong>Sociology</strong></p></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/peters-donna-marie">Donna-Marie Peters</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/waidzunas-tom">Tom Waidzunas</a><p><strong>Sociology</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/friedman-amy">Amy Friedman</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groner-rachael">Rachel Groner</a><p><strong>First Year Writing Program</strong></p></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mukherjee-srimati">Srimata Mukherjee</a><p><strong>First Year Writing Program</strong></p></li>
  </ul>
 </div>
       
   <div class="row">
     <div class="col s12 m6"> 
       
 <ul>      
  <h3>Beasley School of Law</h3>
   <ul>
  <li><a href="https://www.law.temple.edu/contact/theresa-glennon/">Theresa Glennon</a><p><strong>Law</strong></p></li>
  <li><a href="https://www.law.temple.edu/contact/leonore-f-carpenter/">Lee Carpenter</a><p><strong>Legal Writing</strong></p></li>
  <li><a href="">Kathryn Stanchi</a><p><strong>Legal Writing</strong></p></li>
  <li><a href="https://www.law.temple.edu/contact/bonny-l-tavares/">Bonny Tavares</a><p><strong>Legal Writing</strong></p></li>
    <ul>
 <h3>Boyer College of Music and Dance</h3>
  <li><a href="https://www.temple.edu/boyer/about/people/joycelindorff.asp">Joyce Z Lindorff</a><p><strong>Keyboard</strong></p></li>
    <ul>
 <h3>Center for Performing/Cinematic Arts</h3>
  <li><a href="https://www.temple.edu/boyer/about/people/Goldin-Perschbacher.asp">Shana Goldin-Perschbacher</a><p><strong>Music Studies</strong></p></li>
    <ul>
 <h3>College of Education</h3>
    <ul>
  <li><a href="https://education.temple.edu/about/faculty-staff/james-earl-davis-jdavis21">James Earl Davis</a><p><strong>Higher Education</strong></p></li>
  <li><a href="https://education.temple.edu/about/faculty-staff/christine-woyshner-cwoyshne">Christine Woyshner</a><p><strong>Secondary Education</strong></p></li>
    <ul>
 <h3>College of Public Health</h3>
  <li><a href="https://cph.temple.edu/socialbehavioral/faculty/sarah-bauerle-bass">Sarah Bauerle Bass</a><p><strong>Social and Behavioral Sciences</strong></p></li>
  <li><a href="https://cph.temple.edu/ssa/faculty/kimberly-mckay">Kimberly Mckay</a><p><strong>Social Work</strong></p></li>
    <ul>
 <h3>Fox School of Business</h3>
  <li><a href="https://www.fox.temple.edu/mcm_people/leora-eisenstadt/">Leora Eisentadt</a><p><strong>Legal Studies</strong></p></li>
    <ul>
 <h3>Klein College of Media and Communication</h3>
  <li><a href="https://klein.temple.edu/faculty/dana-saewitz">Dana Saewitz</a><p><strong>Advertising and Public Relations</strong></p></li>
  <li><a href="https://klein.temple.edu/faculty/deborah-cai">Deborah A Cai</a><p><strong>Communication and Social Influence</strong></p></li>
  <li><a href="https://klein.temple.edu/faculty/carolyn-kitch">Carolyn L Kitch</a><p><strong>Journalism</strong></p></li>
  <li><a href="https://klein.temple.edu/faculty/karen-m-turner">Karen Turner</a><p><strong>Journalism</strong></p></li>
  <li><a href="https://klein.temple.edu/faculty/wazhmah-osman">Wazhmah Osman</a><p><strong>Media Studies and Production</strong></p></li>
  <li><a href="https://klein.temple.edu/faculty/adrienne-shaw">Adrienne Shaw</a><p><strong>Media Studies and Production</strong></p></li> 
    <ul>
 <h3>Tyler School of Art</h3>
  <li><a href="https://tyler.temple.edu/faculty/jane-derose-evans-phd">Jane Evans</a><p><strong>Art History</strong></p></li>
    <ul>
 <h3>Undergraduate Administration</h3>
    <li><a href="https://honors.temple.edu/about/staff/Ruth">Ruth Ost</a><p><strong>University Honors</strong></p></li>
    </ul>
  </div>
 </div>
