<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Global Studies program.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
    
 <strong>Africology and African American Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nehusi-kimani">Kimani Nehusi</a></li>
   <ul>
 <strong>Anthropology</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/jhala-jayasinhji">Jayasinhji Jhala</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mikhaylova-marina">Marina	Mikhaylova</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/milestone-juris">Juris	Milestone</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roy-christopher">Christopher Roy</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a></li>
   <ul>
 <strong>Asian and Middle Eastern Languages and Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/firat-alexa">Alexa Firat</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/huang-shuchen-susan">Shuchen Huang</a></a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mangione-louis">Louis Mangione</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thornbury-barbara">Barbara Thornbury</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/witty-gordon">Gordon Witty</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a></li>
   <ul>
 <strong>Criminal Jusitce</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul">Aunshul	Rege</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tripp-tara">Tara Tripp</a></li>
   <ul>
 <strong>Economics</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/das-shreyasee">Shreyasee Das</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kushnirsky-fyodor">Fyodor	Kushnirsky</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ritter-moritz">Moritz	Ritter</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fardmanesh-mohsen">Mohsen	Fardmanesh</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hakim-simon">Simon Hakim</a></li>
   <ul>
 <strong>English</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa	Harris</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joshi-priya">Priya Joshi</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/robison-paula">Paula Robinson</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wiley-catherine">Catherine Wiley</a></li>
   <ul>
 <strong>First Year Writing Program</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/layman-horn-anne">Anne Layman-Horn</a></li>
   <ul>
 <strong>French, German, Italian and Slavic</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/curran-beth">Beth Curran</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/galati-carmelo">Carmelo Galati</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gragnani-cristina">Cristina Gragnani</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/melzer-patricia">Patricia Melzer</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roget-wilbert">Wilbert Roget</a></li>
   <ul>
 <strong>Gender, Sexuality and Women’s Studies</strong> 
   <ul>
  <li><a href="mailto:rimun.murad@temple.edu" title="Rimun Murad">Rimun Murad</a></li>
   <ul>
 <strong>Geography and Urban Studies</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/andrucki-max">Max Andrucki</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chmara-huff-fletcher">Fletcher Chmara-Huff</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/duffy-tumasz-amelia">Amelia Duffy-Tumasz</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/shell-jacob">Jacob Shell</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/thomas-kimberley">Kim Thomas</a></li>  
   <ul>
 <strong>Greek and Roman Classics</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Klaiber Hersch</a></li>
   <ul>
 <strong>History</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ricketts-m-nica">Monica	Ricketts</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/corwin-berman-lila">Lila Corwin Berman</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/glasson-travis">Travis Glasson</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gran-peter">Peter Gran</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/krueger-rita">Rita Krueger</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter">Peter Lavelle</a></li>   
  <ul>   
 </div>   
       
   <div class="row">
     <div class="col s12 m6"> 
       
 <ul>      
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lockenour-jay">Jay Lockenour</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mcpherson-alan">Alan McPherson</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/neptune-harvey-r">Harvey Neptune</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nguyen-dieu-t">Dieu T. Nguyen</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/roney-jessica">Jessica Roney</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ryan-eileen">Eileen	Ryan</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/simon-bryant">Bryant Simon</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/spodek-howard">Howard Spodeck</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/talton-benjamin">Benjamin	Talton</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tibebu-teshale">Teshale Tibebu</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/uno-kathleen">Kathleen Uno</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/urwingregory-j-w">Gregory Urwin</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/young-ralph">Ralph Young</a></li> 
    <ul>
 <strong>Intellectual Heritage</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/getz-james">James Getz</a></li>
    <ul>
 <strong>Philosophy</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ostaric-lara">Lara Ostaric</a></li>
    <ul>
 <strong>Political Science</strong>
    <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/blemings-travis">Travis Blemings</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/deeg-richard">Richard Deeg</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/guisinger-alexandra">Alexandra Guisinger</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/howard-alistair">Alistair Howard</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hsueh-roslyn">Roselyn	Hsueh</a></li>
  <li><a href="https://liberalarts.temple.edu/joslyn-richard">Richard Joslyn</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/masker-john-s">John	Masker</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fioretos-k-orfeo">Karl-Orfeo Fioretos</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/soifer-hillel-david">Hillel	Soifer</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stanton-jessica">Jessica Stanton</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/su-rez-sandra-l">Sandra Suarez</a></li>
  <li><a href="https://liberalarts.temple.edu/vaynman-jane">Jane Vaynman</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/yom-sean-l">Sean Yom</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ziegfeld-adam">Adam	Ziegfeld</a></li>    
    <ul>
 <strong>Religion</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/abdullah-zain">Zain Abdullah</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Alvarez</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/bingenheimer-marcus">Marcus Bingenheimer</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/blankinship-khalid-y">Khalid Blankinship</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/duckworth-douglas">Douglas Duckworth</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/leuchter-mark">Mark	Leuchter</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/nagatomo-shigenori">Shigenori Nagatomo</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rey-terry">Terry Rey</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney White</a></li>    
    <ul>
 <strong>Sociology</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/marcus-ben">Benjamin Marcus</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhang-lu">Lu Zhang</a></li>    
    <ul>
 <strong>Spanish and Portuguese</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/aldarondo-hiram">Hiram Aldarondo</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/ashvo-mu-oz-alira">Alira Ashvo-Munoz</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/corrales-martin-norma">Norma Corrales-Martin</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/piera-montserrat">Monserrat Piera</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/pueyo-zoco-v-ctor">Victor	Pueyo Zoco</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/shellhorse-adam-joseph">Adam Shellhorse</a></li>
    <li><a href="mailto:Ronald.webb@temple.edu" title="Ronald Webb">Ronald Webb</a></li>
   </ul>
  </div>
 </div>
